#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.wrapper{
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 5%;
}

.cardImgCenter{
  text-align: center;
}

.imgSize{
  min-width: 120px;
  max-width: 120px;
}

.DashCard{
  min-height: 275px;
}





// --------------------


.dvwrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

b {
  width: 100%;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;

  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.custom-parent {
  color:  #ffffff;
}

.custom-ripple {
  color: #501ace;
}