<ion-content>
  <div class="wrapper">
    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let tiles of dashboardTitles">
          <div class="dvwrapper">
            <div class="ion-activatable ripple-parent custom-parent">
              <ion-card color="primary" class="DashCard" (click)="dashboardTileClicked(tiles.tileType,tiles.routeLink)">
                <div class="cardImgCenter"><img class="imgSize" alt="Search Enrollment" [src]="tiles.imgLocation" /></div>
                <ion-card-header>
                  <ion-card-title>{{tiles.title}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{tiles.description}}
                </ion-card-content> 
              </ion-card>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>